# Google Calendar API Key for fetching official holidays
# You can get one from https://console.cloud.google.com/
VITE_GOOGLE_CALENDAR_API_KEY=
# Example for Indian Holidays: en.indian#holiday@group.v.calendar.google.com
VITE_GOOGLE_CALENDAR_ID=en.indian#holiday@group.v.calendar.google.com
